@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url('/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:1000px ) {
  body {
    background-image: url('/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    background-color: hsl(229, 57%, 11%);
  }
}


