.main {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.section {
  height: 70vh;
  max-width: 25rem;
  margin: 0 auto;
}
.fylo {
  border-radius: 0.625rem 5rem 0.625rem 0.625rem;
  width: 80vw;
  max-width: 20rem;
  margin: 1.75rem auto;
  padding: 2rem;
  background-color: hsl(228, 56%, 26%);
}

.icons {
  width: 11rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.icon {
  background-color: hsl(229, 57%, 11%);
  height: 100%;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
}

.details {
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.625rem;
  width: 80vw;
  max-width: 20rem;
  margin: 0 auto;
  height: 10rem;
  text-align: center;
 
}
.text {
  padding-top: 2rem;
  color: hsl(243, 100%, 93%);
  font-weight: 400;
  font-size: 0.875rem;
}
.text span {
  font-weight: 700;
}
.centred_div {
  background-color: hsl(243, 100%, 93%);
  width: 50vw;
  max-width: 12rem;
  padding: 0.875rem 1rem;
  border-radius: 0.625rem;
  text-align: center;
  margin: -2rem auto;
}

.centred_div p {
  font-size: 2.5rem;
  font-weight: 700;
}

.centred_div sup {
  font-size: 0.875rem;
  color: hsl(229, 7%, 55%);
}

.progress_bar {
  background-color: hsl(229, 57%, 11%);
  width: 80%;
  margin: 1rem auto 0.5rem auto;
  border-radius: 1rem;
  padding: 0.125rem;
}
.progress {
  height: 1rem;
  width: 70%;
  border-radius: 1rem;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.circle {
  margin: 0.125rem;
  background-color: white;
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}
.Storage {
  color: hsl(243, 100%, 93%);
  font-weight: 700;
  font-size: 0.8rem;
}
.storages {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  
  .section {
    
    max-height: 10rem;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative; 
  }
  .details {
    height: 9rem;
    max-width: 40rem;
    margin: 0 1rem;
  }
  .fylo {
    margin: 0;
  }
  .centred_div {
    position: absolute;
    bottom: 95%;
    left: 68%;
    border-bottom-right-radius: 0;
   
  }
  
  .centred_div::after {
    content: "";
    position: inherit;
    bottom: -28%;
    right: 0;
    border: 1.5rem solid transparent;
    border-right: 1.5rem solid hsl(243, 100%, 93%);
  }
  .text {
    
    width: 80%;
    margin: 0 auto;
    text-align: start;
  }
}
